* {
    margin:0;
    box-sizing: border-box;

}

/*on mobile, page will scroll as long as divs exceed page dimensions, even if they individually have overflow-y:hidden; */
html, body {
    overflow-y:hidden;
    height:100%;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    width: 100%;
    height: 100%;
}

.sidebarSliderLabel {
    max-width: 150px;
    word-break: break-word;
}

#alertDiv {
    position: relative;
    z-index: 1000;

    white-space: pre-line;
    opacity: 80%;
    font-size: larger;
    margin: auto;
    padding: 5px;
    width: 500px;
    text-align: center;

    border-radius: 5px;
    border: 2px solid rgb(189, 189, 189);
    background-color: rgb(58, 58, 58);
    color: rgb(255, 255, 255);
}

.sidebar {
    padding: 15px;
    border-radius: 20px;

    box-sizing: border-box;
    border: 2px solid rgb(100, 100, 100);

    z-index: 300;
    font-family: Lucida Console;
    color: white;

    opacity: 80%;
    display: inline-grid;
    grid-auto-flow: row;
    align-content: space-around;
    text-align: center;
}

.hidingVis {
    visibility: hidden;
}

.sidebarImg {
    display: block;
    width: 50px;
    height: 50px;
    background-image:url('images/sidebarIndicator.png');
    background-size: 100% 100%;
    mix-blend-mode: lighten;
}

.collapsingSidebar {
    background: rgb(50, 50, 50);
    grid-template-columns: auto;

    position: absolute;
    /* positioned in sidebar-positioning.js */
}

.sidebarImgHoverExtension {
    padding-bottom: 100px;
    padding-right: 50px;
    position: absolute;
}

#uiContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#mainSidebar {
    padding-left: 0;
    padding-right: 0;

    background: rgb(31, 31, 31);

    grid-template-columns: 50px auto;
    position: absolute;
    top: 15%;
    bottom: 15%;
    right: 0px;
}


header {
    font-size: large;
}


#oldContainer {
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    width: 100%;
    height: 100%;
}


.defaultButton {
    z-index: 300;
    border-radius: 5px;
}

.defaultButton:hover {
    background-color: lightblue;
}

.defaultButton:active {
    color: lightblue;
    background-color: darkblue;
}

.hyperlikeButton {
    z-index: 300;
    background: none;
    border: none;
    color:lightgray;
}

.hyperlikeButton:hover {
    color:lightblue;
}

.hyperlikeButton:active {
    color: darkblue;
}

@media screen and (min-width: 0px) {
    #audioElement {
        width: 90%;
        left: 5%;
        bottom: 3%;
    }
    
    .focusDivShell {
        inset: 1%;
    }

    .focusDiv {
        margin: 20px 20px;
    }
}

@media screen and (min-width: 700px) {
    #audioElement {
        width: 50%;
        left: 25%;
        bottom: 3%;
    }
    
    .focusDivShell {
        inset: 10%;
    }

    .focusDiv {
        margin: 20px 100px;
    }
}

#audioElement {
    position: absolute;
    bottom: 3%;

    z-index: 200;
}

.focusDiv {
    white-space: pre-line;
    font-family: Lucida Console;
    line-height: 1;
}

.focusDivShell {
    opacity: 80%;

    position: absolute;
    z-index: 500;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow-y: scroll;
    overflow-x: hidden;

    border: 2px solid rgb(189, 189, 189);
    background-color: rgb(32, 32, 32);
    color: rgb(255, 255, 255);
}

.focusCloser{
    /*position at top right corner. for some reason right:0; doesn't work*/
    top: 0;
    margin-left: 100%;
    transform: translateX(-100%);

    position: sticky;
    border-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
}